<div style="display: flex; gap: 0; margin-top: 150px;">
    <div style="width: 50%; height: 400px; background-color: rgb(255, 255, 255); align-items: center; display: flex; justify-content: center;">
         <div>
             <!-- Video / Foto-->
             <p>Platz für Foto</p>
         </div>
     </div>
    
    <div style="width: 50%; height: 400px; background-color: rgb(255, 255, 255);  display: flex; justify-content: left; ">
        <div style="margin-left: 10px; margin-right: 50px;">
        <h2>About Me</h2>
        <h3>Hi, ich bin Johannes.</h3>
        <p style="font-family: italic">"Ich glaube daran, dass die Bilder, die uns täglich umgeben, unsere Stimmung beeinflussen. In meiner Fotografie suche ich nach den stillen Momenten und besonderen Lichtstimmungen, die im Alltag oft untergehen. </p>
        <p style="font-family: italic"> Mit meinen Wallpapern möchte ich ein Stück dieser Ruhe direkt auf deine Bildschirme bringen – als <span style="font-weight: bold; ">digitaler Rückzugsort</span> im hektischen Alltag."</p>
        </div>
    </div>
</div>