<div style="display: flex; gap: 0; margin-top: 250px;">
  <div style="width: 50%; height: 400px; background-color: rgb(232, 232, 232); align-items: center; display: flex; justify-content: center;">
    <div>
      <h2>Dynamische Wallpaper</h2>
    <p>Dynamische Wallpaper, die sich über den Tag deiner Stimmung anpassen.</p>

    </div>

  </div>
  
  <div style="width: 50%; height: 400px; background-color: rgb(255, 255, 255); align-items: center; display: flex; justify-content: center;">
    <div>
        <!-- Video / Foto-->
        <p>Platz für Foto</p>
    </div>
  </div>
</div>

<div style="display: flex; gap: 0; margin-top: 0;">
  <div style="width: 50%; height: 400px; background-color: rgb(255, 255, 255); align-items: center; display: flex; justify-content: center;">
    <div>
        <!-- Video / Foto-->
        <p>Platz für Foto</p>
    </div>
  </div>
  <div style="width: 50%; height: 400px; background-color: rgb(232, 232, 232); align-items: center; display: flex; justify-content: center;">
    <div>
      <h2>Statische Wallpaper</h2>
    <p>Statische Wallpaper - kuhl, klassisch, zeitlos.</p>

    </div>

  </div>
</div>