{{> menu id='login'}} 
<input type="hidden" name="referer" value="{{referer}}">

<div class="row justify-content-center" style="margin-top: 50px;">
    <div class="col-3"> 
        <h3>Einloggen</h3> 
        <form action="/authenticate" method="POST"> 
            <div class="mb-3"> 
                <label for="inputEmail" class="form-label">Email</label> 
                <input type="email" class="form-control" id="inputEmail" name="email"> 
            </div> 
            <div class="mb-3"> 
                <label for="inputPassword" class="form-label">Password</label> 
                <input type="password" class="form-control" id="inputPassword" name="password"> 
            </div> 
            <button type="submit" class="explore-btn">Login</button> 
        </form> 

        <!-- Link zum Signup -->
        <p class="mt-3" >Noch keinen Account? <a href="/signup">Hier registrieren</a></p>
    </div>
</div> 